<nav class="navbar navbar-default navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">CartoonClub</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            {{#if currentUser}}
                <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>
            {{/if}}
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}
            <li><h6>Logged in as: <strong>{{currentUser.username}}</strong></h6></li>
            <li><a href="/logout" style="color:red;">Logout</a></li>
        {{else}}
            <li><a href="/login" style="color:rgb(0, 171, 145)">Login</a></li>
            <li><a href="/sign-up" style="color:rgb(0, 111, 171)">Sign Up</a></li>
        {{/if}}
    </ul>
    </div>
</nav>