<nav class="navbar navbar-default navbar-light bg-light">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">CartoonClub</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            {{#if currentUser}}
                <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>
            {{/if}}
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}
            <li><a href="/logout">Logout</a></li>
        {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/sign-up">Sign Up</a></li>
        {{/if}}
    </ul>
    </div>
</nav>